<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amethyst.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser"
                     requirePermission="false" />
      </sectionGroup>
    </configSections>
    <userSettings>
        <Amethyst.Properties.Settings>
            <setting name="SiteName" serializeAs="String">
                <value />
            </setting>
            <setting name="DayCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AdIntensity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CashCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="graphicsFriendly" serializeAs="String">
                <value>True</value>
            </setting>
        </Amethyst.Properties.Settings>
    </userSettings>
</configuration>